/* Importe de fontes */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Cal+Sans&family=Cardo:ital,wght@0,400;0,700;1,400&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins, Cal Sans, Montserrat, Barriecito, Odibee Sans, Londrina Solid, Londrina Shadow, Cardo*/

@keyframes mexendo {
  0% {
    box-shadow: 0px -3px 6px blue;
  }

  10% {
    box-shadow: -3px 0px 6px blue;
  }

  20% {
    box-shadow: 0px 3px 6px blue;
  }

  30% {
    box-shadow: 3px 0px 6px blue;
  }

  40% {
    box-shadow: 0px 3px 6px blue;
  }

  50% {
    box-shadow: -3px 0px 6px blue;
  }

  60% {
    box-shadow: 0px 3px 6px blue;
  }

  70% {
    box-shadow: 3px 0px 6px blue;
  }

  80% {
    box-shadow: 0px 3px 6px blue;
  }

  90% {
    box-shadow: -3px 0px 6px blue;
  }

  100% {
    box-shadow: 0px -3px 6px blue;
  }
}

@keyframes rolar {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

* {
  transition: opacity 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  cursor: url(/assets/images/icons/cursor-dark-icon.svg), auto;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: justify;
  transition: background 0.3s ease-in-out;
}

header {
  z-index: 1;
  width: 100%;
  height: 230px;
  background: linear-gradient(0deg,
      rgb(0, 0, 0, 0.9),
      rgb(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.3),
      rgb(0, 0, 0, 0.1)),
    url("/assets/images/balneario-camboriu.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: url(/assets/images/icons/cursor-light-icon.svg), auto;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.95);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* transition: top 0.4s, box-shadow 0.4s, background 0.4s; */
  transition: all 0.4s ease;
  cursor: url(/assets/images/icons/cursor-light-icon.svg), auto;
}

h1 {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", "Cal Sans", Roboto, sans-serif;
}

p {
  font-family: "Poppins", "Cal Sans", Roboto, sans-serif;
}

h1, h2, h3, p, b {
  cursor: text;
}

.buttons-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: wrap;
}

.nav-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: rgb(0, 0, 0, 0.95);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

nav .a-menu {
  font-family: "Montserrat", "Poppins", Roboto, sans-serif;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.15s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: rgb(255, 255, 255, 0.7);
  transform: scale(1.02);
}

nav a:active {
  transform: scale(0.98);
}

main {
  width: 70%;

  /*
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  */
}

.extern-link-icon {
  width: 14px;
  height: auto;
  margin-left: 5px;
}

.h1-top {
  position: absolute;
  top: 50px;
  color: white;
  font-family: "Londrina Shadow", "Londrina Solid", "Montserrat", "Poppins",
    Roboto, sans-serif;
  font-size: 35px;
}

.h2-main {
  font-family: "Barriecito", "Cal Sans", "Montserrat", "Poppins", Roboto,
    sans-serif;
  font-size: 28px;
  color: black;
  text-align: center;
  margin-top: 40px;
}

/* Configurações botão antigo de tema */
/*
.btn-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 20px;
  background-image: url("/assets/images/ceu-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.5px 10px 0px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

.btn-theme img {
  position: relative;
  cursor: pointer;
}

.moon-icon {
  position: absolute;
  left: 7px;
  transform: rotate(-180deg);
  transition: 0.3s;
}

.sun-icon {
  position: absolute;
  right: 5px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.circle {
  z-index: 1000;
  background-color: #1b1e23;
  padding: 14px;
  border-radius: 50%;

  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 6.5px;

  transition: 0.3s ease-in-out;
}
  */

#themeBox {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: top 0.4s, box-shadow 0.4s, background 0.4s;
}

.theme-box-fixo {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#ifLogo {
  position: absolute;
  width: 30px;
  top: -7px;
  height: auto;
  z-index: 5;
  transition: top 0.4s, left 0.4s, width 0.4s, box-shadow 0.4s;
}

.if-logo-fixo {
  position: fixed;
  width: 30px;
  height: auto;
  z-index: 5;
}

#logoSC {
  border-radius: 10px;
  position: absolute;
  width: 45px;
  left: 12px;
  top: -3px;
  height: auto;
  z-index: 6;
  transition: top 0.4s, right 0.4s, width 0.4s, box-shadow 0.4s;
}

.logo-sc-fixo {
  border-radius: 10px;
  position: absolute;
  width: 35px;
  height: auto;
  z-index: 6;
  transition: top 0.4s, right 0.4s, width 0.4s, box-shadow 0.4s;
}

#logoIFSCa {
  position: absolute;
  text-decoration: none;
  left: 10px;
  top: 12.5px;
  z-index: 7;
  transition: all 0.2s;
}

.logo-if-sc-a {
  position: fixed;
  top: 0;
  left: 10px;
  z-index: 7;
}

.ol-list li {
  font-family: "Montserrat", Roboto, sans-serif;
  font-size: 18px;
}

.a-main {
  color: black;
  transition: 0.2s;
}

.a-main:hover {
  opacity: 0.7;
}

.contribuidores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-top: 30px;
}

.c-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0px;
}

.c-container ul li {
  width: 200px;
  height: auto;
  list-style-type: none;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.a-contri {
  font-family: "Montserrat", Roboto, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;

  transition: all 0.2s;
  border-radius: 10px;
  padding: 3.5px 4.5px;
}

.a-contri:hover {
  transition: all 0.2s;
  transform: scale(1.025);
  background-color: rgb(0, 0, 0, 0.1);
}

.a-contri:active {
  transform: scale(0.95);
}

.github-icon {
  width: 25px;
  height: auto;
}

.link-icon {
  margin-left: -2px;
  width: 20px;
  height: auto;
}

.img-perfil {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  box-shadow: 0px 0px 6px black;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  overflow: hidden;
  background-color: #222;
  color: white;
  position: relative;
  white-space: nowrap;
}

.carrossel-texto {
  display: inline-block;
  white-space: nowrap;
  animation: rolar 25s linear infinite;
}

.carrossel-texto:hover {
  animation-play-state: paused;
}

.carrossel-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8px;
}

footer img {
  height: 30px;
  border-radius: 1px solid transparent;
  border-radius: 20px;
  margin-right: 10px;
}

.p-info2v {
  font-family: "Poppins", Roboto, sans-serif;
  font-size: 13.5px;
  border-left: 1px solid white;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
}

.bar-carr {
  font-family: "Poppins", Roboto, sans-serif;
  color: rgb(59, 58, 62);
  margin: 0px 5px 0px 5px;
}

.burguer-icon,
.cancel-icon {
  display: none;
}

/* Animação de aparecer */
.animar-ao-rolar-cima {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.8s, transform 0.8s;
}

.animar-ao-rolar-baixo {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s, transform 0.8s;
}

.aparecendo {
  opacity: 1;
  transform: translateY(0);
}

.audio {
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.seta-para-cima-icon-a {
  cursor: pointer;
  z-index: 20;
  position: fixed;
  right: 15px;
  bottom: 30px;
  background-color: #1b1e23;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.3s;
  border: 2px solid blue;
  transition: background 0.3s, box-shadow 0.3s;
  width: fit-content;

  animation: mexendo 5s infinite;
}

.seta-para-cima-icon-a:hover {
  background-color: rgb(27, 30, 35, 0.8);
  transition: background 0.3s;
}

.seta-para-cima-icon {
  width: 30px;
  height: auto;
}

#scrollArrow {
  /* transition: all 0.3s ease; */
  cursor: pointer;
}

/* Tooltip area configuration - Esse tooltip é a "legendazinha" que aparece abaixo do elemento definido */
.text-for-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 11.5px;
  text-align: center;
  /* white-space: nowrap; */
  z-index: 100;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease-out;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  }
}

.text-for-tooltip-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 11.5px;
  text-align: center;
  /* white-space: nowrap; */
  z-index: 100;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease-out;

  &::before {
    content: '';
    position: absolute;
    top: 99.5%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
  }
}

.text-for-tooltip-name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 11.5px;
  text-align: center;
  /* white-space: nowrap; */
  z-index: 100;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease-out;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  }
}

.tooltip-container:hover .text-for-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

.bb8-toggle:hover .text-for-tooltip {
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

#scrollArrow:hover .text-for-tooltip-arrow {
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

.a-contri:hover .text-for-tooltip-name {
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

.a-home {
  transition: 0.1s;
}

.a-home:hover .text-for-tooltip-home {
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

.text-for-tooltip-home {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 11.5px;
  text-align: center;
  /* white-space: nowrap; */
  z-index: 100;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease-out;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  }
}

.fonte {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0, 0.3);
  text-align: right;
}

.fonte-box a {
  color: #bab7b7;
}

.fonte-box a:visited {
  color: #7b7a7a;
}

.imgs-main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  object-fit: cover;
  transition: 0.2s ease;
}

.imgs-main-a {
  position: relative;
  max-width: 650px;
  width: 100%;
  transition: 0.2s ease;
  overflow: hidden;
}

.imgs-main {
  display: block;

  width: 100%;
  max-width: 650px;

  border-radius: 10px;
  transition: 0.2s ease;
}

.a-imgs-main {
  opacity: 0;
  visibility: hidden;

  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 0px 15px;

  color: white;
  text-decoration: none;
  font-family: "Times New Roman", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

  border-radius: 0 0 10px 10px;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0));
  transition: 0.2s ease;
  z-index: 2;
}

.imgs-main-a:hover .a-imgs-main {
  opacity: 1;
  visibility: visible;
}

.a-imgs-main:hover {
  text-decoration: underline;
}

.a-imgs-main-relevo {
  font-family: "Times New Roman", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: -0.5px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  padding: 20px 0px 8px;
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0));
}

.imgs-main-a-relevo:hover .a-imgs-main-relevo {
  opacity: 1;
  visibility: visible;
  text-decoration: underline;
}

.a-imgs-main-relevo:hover {
  text-decoration: underline;
}

.b-top-ff {
  font-size: 20px;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.br-line {
  font-size: 11px;
  padding: 20px 0px 5px;
        /* white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; */
}

.br-line2 {
  font-size: 12px;
  padding: 20px 0px 5px;
        /* white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; */
}

.ff {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/* .imgs-relevo, 
.imgs-main {
  box-shadow: 10px 0px 1px rgb(0, 0, 0);
} */

.summary li {
  list-style-type: "- ";
  margin-bottom: 10px;
  text-align: left;
}

.summary a {
  font-size: 18px;
  font-family: "Cardo", "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.bar {
  background-color: rgb(255, 255, 255, 0.6);
  width: 0.1px;
  height: 20px;
  margin: 0px 5px 0px 4.5px;
}

.h1-top .br-mobile {
  display: none;
}

.imgs-main-a .br-a {
  display: none;
}

.imgs-main-a .br2-a {
  display: block;
}

/* dark theme */
.dark {
  transition: background 0.3s ease-in-out;
}

body.dark {
  background-color: #1b1e23;
  transition: background 0.3s ease-in-out;
}

html.dark {
  cursor: url(/assets/images/icons/cursor-light-icon.svg), auto;
}

nav.dark {
  background-color: rgb(0, 0, 0, 0.95);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

h2.dark,
h3.dark,
p.dark,
li.dark {
  color: white;
}

h3.dark,
a.dark,
.p-main.dark {
  color: white;
  transition: color 0.3s ease-in-out;
}

body.dark .contribuidores {
  border-top: 1px solid rgba(255, 255, 255, .8);
}

body.dark .imgs-main-container,
body.dark .a-imgs-main,
body.dark .a-imgs-main-relevo,
body.dark .imgs-main-a,
body.dark .imgs-main {
  transition: 0.2s ease;
}

body.dark .relevo-imgs-container b {
  color: white;
}

#liBox.dark {
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#linkExternoIcon.dark {
  color: white;
}

#linkIcon.dark {
  color: white;
}

#gitHubIcon.dark {
  color: white;
}

/* Configurações botão antigo de tema */
/*
.circle.dark {
  transition: 0.3s ease-in-out;
  background-color: white;
  left: 48px;
}

.circle.dark {
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 255, 255, 0.5);
  top: 4px;
  left: 49.5px;
} 

#theme.dark {
  background-image: url("/assets/images/ceu-dark.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sun-icon.dark {
  transform: rotate(-180deg);
  transition: 0.8s ease-out;
}

.moon-icon.dark {
  transform: rotate(180deg);
  transition: 0.8s ease-out;
} */

.a-menu.dark {
  color: white;
  transition: 0.3s;
  background-color: rgb(255, 255, 255, 0.45);
}

.a-menu:hover.dark {
  background-color: rgb(255, 255, 255, 0.55);
}

.a-contri.dark {
  transition: all 0.2s;
}

.a-contri:hover.dark {
  transition: all 0.2s;
  transform: scale(1.025);
  background-color: rgb(255, 255, 255, 0.1);
}

.a-contri:active.dark {
  transform: scale(0.95);
}

.ol-list {
  width: 20%;
}

.a-paraiba {
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

.a-paraiba:hover {
  font-weight: 600;
  color: rgb(0, 0, 0, 0.6);
}

.a-paraiba li {
  width: 20%;
}

.p-sc {
  font-family: 'Cardo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  opacity: 0.4; 
  margin-top: 5px;
}

body.dark .text-for-tooltip {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;

  &::before {
    border-color: transparent transparent rgba(255, 255, 255, 0.85) transparent;
  }
}

body.dark .text-for-tooltip-arrow {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.85) transparent transparent transparent;
  }
}

body.dark .text-for-tooltip-name {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;

  &::before {
    border-color: transparent transparent rgba(255, 255, 255, 0.85) transparent;
  }
}

body.dark .text-for-tooltip-home {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;

  &::before {
    border-color: transparent transparent rgba(255, 255, 255, 0.85) transparent;
  }
}

body.dark .a-home {
  transition: 0.1s;
}

body.dark .b-top-ff {
  color: white;
}

body.dark .fonte {
  color: #908f8f;
}

body.dark .fonte-box a {
  color: #eae8e8;
}

body.dark .fonte-box a:visited {
  color: #8b8a8a;
}

body.dark audio {
  cursor: url('/assets/images/icons/cursor-dark-icon.svg'), auto;
}
/* 
body.dark #scrollArrow {
  transition: 0.2s ease;
} */

body.dark .a-paraiba {
  text-decoration: underline;
  transition: 0.3s;
}

body.dark .a-paraiba:hover {
  color: white;
  text-decoration: underline;
  opacity: 0.8;
}


































































/**************************************************************/
/* From Uiverse.io by Galahhad */
/* REMASTERED */
/* RTX-ON */
/* completely redone toggle and droid */

.bb8-toggle {
  --toggle-size: 8px;
  /* finally I removed the scale now everything depends on the font-size */
  /* --margin-top-for-head: 1.75em; */
  /* it's just in case 👆 */
  --toggle-width: 10.625em;
  --toggle-height: 5.625em;
  --toggle-offset: calc((var(--toggle-height) - var(--bb8-diameter)) / 2);
  --toggle-bg: linear-gradient(#2c4770, #070e2b 35%, #628cac 50% 70%, #a6c5d4) no-repeat;
  --bb8-diameter: 4.375em;
  --radius: 99em;
  --transition: 0.4s;
  --accent: #de7d2f;
  --bb8-bg: #fff;
}

.bb8-toggle,
.bb8-toggle *,
.bb8-toggle *::before,
.bb8-toggle *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bb8-toggle {
  cursor: pointer;
  margin-top: var(--margin-top-for-head);
  font-size: var(--toggle-size);
}

.bb8-toggle__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.bb8-toggle__container {
  width: var(--toggle-width);
  height: var(--toggle-height);
  background: var(--toggle-bg);
  background-size: 100% 11.25em;
  background-position-y: -5.625em;
  border-radius: var(--radius);
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: calc(var(--toggle-offset) - 1.688em + 0.188em);
  left: var(--toggle-offset);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
}

.bb8__head-container {
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
  -webkit-transform-origin: 1.25em 3.75em;
  -ms-transform-origin: 1.25em 3.75em;
  transform-origin: 1.25em 3.75em;
}

.bb8__head {
  overflow: hidden;
  margin-bottom: -0.188em;
  width: 2.5em;
  height: 1.688em;
  background: -o-linear-gradient(transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: linear-gradient(transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em),
    linear-gradient(45deg,
      transparent 0.188em,
      var(--bb8-bg) 0.188em 1.25em,
      transparent 1.25em),
    linear-gradient(-45deg,
      transparent 0.188em,
      var(--bb8-bg) 0.188em 1.25em,
      transparent 1.25em),
    linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  border-radius: var(--radius) var(--radius) 0 0;
  position: relative;
  z-index: 1;
  -webkit-filter: drop-shadow(0 0.063em 0.125em gray);
  filter: drop-shadow(0 0.063em 0.125em gray);
}

.bb8__head::before {
  content: "";
  position: absolute;
  width: 0.563em;
  height: 0.563em;
  background: -o-radial-gradient(0.25em 0.375em,
      0.125em circle,
      red,
      transparent),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em,
      0.125em circle,
      red,
      transparent),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em,
      0.125em circle,
      red,
      transparent),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em,
      0.125em circle,
      red,
      transparent),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: radial-gradient(0.125em circle at 0.25em 0.375em,
      red,
      transparent),
    radial-gradient(0.063em circle at 0.375em 0.188em,
      var(--bb8-bg) 50%,
      transparent 100%),
    linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  border-radius: var(--radius);
  top: 0.413em;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em,
    0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em,
    0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  z-index: 1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__head::after {
  content: "";
  position: absolute;
  bottom: 0.375em;
  left: 0;
  width: 100%;
  height: 0.188em;
  background: -o-linear-gradient(left,
      var(--accent) 0.125em,
      transparent 0.125em 0.188em,
      var(--accent) 0.188em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.938em,
      transparent 0.938em 1em,
      var(--accent) 1em 1.125em,
      transparent 1.125em 1.875em,
      var(--accent) 1.875em 2em,
      transparent 2em 2.063em,
      var(--accent) 2.063em 2.25em,
      transparent 2.25em 2.313em,
      var(--accent) 2.313em 2.375em,
      transparent 2.375em 2.438em,
      var(--accent) 2.438em);
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0.125em, var(--accent)),
      color-stop(0.125em, transparent),
      color-stop(0.188em, var(--accent)),
      color-stop(0.313em, transparent),
      color-stop(0.375em, var(--accent)),
      color-stop(0.938em, transparent),
      color-stop(1em, var(--accent)),
      color-stop(1.125em, transparent),
      color-stop(1.875em, var(--accent)),
      color-stop(2em, transparent),
      color-stop(2.063em, var(--accent)),
      color-stop(2.25em, transparent),
      color-stop(2.313em, var(--accent)),
      color-stop(2.375em, transparent),
      color-stop(2.438em, var(--accent)));
  background: linear-gradient(to right,
      var(--accent) 0.125em,
      transparent 0.125em 0.188em,
      var(--accent) 0.188em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.938em,
      transparent 0.938em 1em,
      var(--accent) 1em 1.125em,
      transparent 1.125em 1.875em,
      var(--accent) 1.875em 2em,
      transparent 2em 2.063em,
      var(--accent) 2.063em 2.25em,
      transparent 2.25em 2.313em,
      var(--accent) 2.313em 2.375em,
      transparent 2.375em 2.438em,
      var(--accent) 2.438em);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna {
  position: absolute;
  -webkit-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 0.059em;
  border-radius: var(--radius) var(--radius) 0 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna:nth-child(1) {
  height: 0.938em;
  right: 0.938em;
  background: -o-linear-gradient(#000 0.188em, silver 0.188em);
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0.188em, #000),
      color-stop(0.188em, silver));
  background: linear-gradient(#000 0.188em, silver 0.188em);
}

.bb8__antenna:nth-child(2) {
  height: 0.375em;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  background: silver;
}

.bb8__body {
  width: 4.375em;
  height: 4.375em;
  background: var(--bb8-bg);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: -webkit-gradient(linear,
      right top,
      left top,
      color-stop(4%, var(--bb8-bg)),
      color-stop(4%, var(--accent)),
      color-stop(10%, transparent),
      color-stop(90%, var(--accent)),
      color-stop(96%, var(--bb8-bg))),
    -webkit-gradient(linear, left top, left bottom, color-stop(4%, var(--bb8-bg)), color-stop(4%, var(--accent)), color-stop(10%, transparent), color-stop(90%, var(--accent)), color-stop(96%, var(--bb8-bg))),
    -webkit-gradient(linear, left top, right top, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent)),
    -webkit-gradient(linear, left top, left bottom, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent));
  background: -o-linear-gradient(right,
      var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%),
    -o-linear-gradient(var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10% 90%, var(--accent) 90% 96%, var(--bb8-bg) 96%),
    -o-linear-gradient(left, transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em),
    -o-linear-gradient(transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em);
  background: linear-gradient(-90deg,
      var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%),
    linear-gradient(var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%),
    linear-gradient(to right,
      transparent 2.156em,
      silver 2.156em 2.219em,
      transparent 2.188em),
    linear-gradient(transparent 2.156em,
      silver 2.156em 2.219em,
      transparent 2.188em);
  background-color: var(--bb8-bg);
}

.bb8__body::after {
  content: "";
  bottom: 1.5em;
  left: 0.563em;
  position: absolute;
  width: 0.188em;
  height: 0.188em;
  background: rgb(236, 236, 236);
  color: rgb(236, 236, 236);
  border-radius: 50%;
  -webkit-box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em,
    2.125em -2.125em, 3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
  box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em, 2.125em -2.125em,
    3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
}

.bb8__body::before {
  content: "";
  width: 2.625em;
  height: 2.625em;
  position: absolute;
  border-radius: 50%;
  z-index: 0.1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0.313em solid var(--accent);
  background: -o-radial-gradient(center,
      1em circle,
      rgb(236, 236, 236) 50%,
      transparent 51%),
    -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%),
    -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent 58%),
    -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
  background: -o-radial-gradient(center,
      1em circle,
      rgb(236, 236, 236) 50%,
      transparent 51%),
    -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%),
    -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent 58%),
    -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
  background: radial-gradient(1em circle at center,
      rgb(236, 236, 236) 50%,
      transparent 51%),
    radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%),
    -webkit-gradient(linear, right top, left top, color-stop(42%, transparent), color-stop(42%, var(--accent)), color-stop(58%, transparent)),
    -webkit-gradient(linear, left top, left bottom, color-stop(42%, var(--bb8-bg)), color-stop(42%, var(--accent)), color-stop(58%, var(--bb8-bg)));
  background: radial-gradient(1em circle at center,
      rgb(236, 236, 236) 50%,
      transparent 51%),
    radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%),
    linear-gradient(-90deg,
      transparent 42%,
      var(--accent) 42% 58%,
      transparent 58%),
    linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
}

.artificial__hidden {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.bb8__shadow {
  content: "";
  width: var(--bb8-diameter);
  height: 20%;
  border-radius: 50%;
  background: #3a271c;
  -webkit-box-shadow: 0.313em 0 3.125em #3a271c;
  box-shadow: 0.313em 0 3.125em #3a271c;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: calc(var(--toggle-offset) - 0.938em);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: skew(-70deg);
  -ms-transform: skew(-70deg);
  transform: skew(-70deg);
  z-index: 1;
}

.bb8-toggle__scenery {
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
}

.bb8-toggle__scenery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: #b18d71;
  z-index: 1;
}

.bb8-toggle__cloud {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
}

.bb8-toggle__cloud:nth-last-child(1) {
  width: 0.875em;
  height: 0.625em;
  -webkit-filter: blur(0.125em) drop-shadow(0.313em 0.313em #ffffffae) drop-shadow(-0.625em 0 #fff) drop-shadow(-0.938em -0.125em #fff);
  filter: blur(0.125em) drop-shadow(0.313em 0.313em #ffffffae) drop-shadow(-0.625em 0 #fff) drop-shadow(-0.938em -0.125em #fff);
  right: 1.875em;
  top: 2.813em;
  background: -o-linear-gradient(bottom left, #ffffffae, #ffffffae);
  background: -webkit-gradient(linear,
      left bottom,
      right top,
      from(#ffffffae),
      to(#ffffffae));
  background: linear-gradient(to top right, #ffffffae, #ffffffae);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8-toggle__cloud:nth-last-child(2) {
  top: 0.625em;
  right: 4.375em;
  width: 0.875em;
  height: 0.375em;
  background: #dfdedeae;
  -webkit-filter: blur(0.125em) drop-shadow(-0.313em -0.188em #e0dfdfae) drop-shadow(-0.625em -0.188em #bbbbbbae) drop-shadow(-1em 0.063em #cfcfcfae);
  filter: blur(0.125em) drop-shadow(-0.313em -0.188em #e0dfdfae) drop-shadow(-0.625em -0.188em #bbbbbbae) drop-shadow(-1em 0.063em #cfcfcfae);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.bb8-toggle__cloud:nth-last-child(3) {
  top: 1.25em;
  right: 0.938em;
  width: 0.875em;
  height: 0.375em;
  background: #ffffffae;
  -webkit-filter: blur(0.125em) drop-shadow(0.438em 0.188em #ffffffae) drop-shadow(-0.625em 0.313em #ffffffae);
  filter: blur(0.125em) drop-shadow(0.438em 0.188em #ffffffae) drop-shadow(-0.625em 0.313em #ffffffae);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.gomrassen,
.hermes,
.chenini {
  position: absolute;
  border-radius: var(--radius);
  background: -o-linear-gradient(#fff, #6e8ea2);
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#fff),
      to(#6e8ea2));
  background: linear-gradient(#fff, #6e8ea2);
  top: 100%;
}

.gomrassen {
  left: 0.938em;
  width: 1.875em;
  height: 1.875em;
  -webkit-box-shadow: 0 0 0.188em #ffffff52, 0 0 0.188em #6e8ea24b;
  box-shadow: 0 0 0.188em #ffffff52, 0 0 0.188em #6e8ea24b;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.gomrassen::before,
.gomrassen::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 0 0.063em rgb(140, 162, 169);
  box-shadow: inset 0 0 0.063em rgb(140, 162, 169);
  background: rgb(184, 196, 200);
}

.gomrassen::before {
  left: 0.313em;
  top: 0.313em;
  width: 0.438em;
  height: 0.438em;
}

.gomrassen::after {
  width: 0.25em;
  height: 0.25em;
  left: 1.25em;
  top: 0.75em;
}

.hermes {
  left: 3.438em;
  width: 0.625em;
  height: 0.625em;
  -webkit-box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.chenini {
  left: 4.375em;
  width: 0.5em;
  height: 0.5em;
  -webkit-box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.tatto-1,
.tatto-2 {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: var(--radius);
}

.tatto-1 {
  background: #fefefe;
  right: 3.125em;
  top: 0.625em;
  -webkit-box-shadow: 0 0 0.438em #fdf4e1;
  box-shadow: 0 0 0.438em #fdf4e1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.tatto-2 {
  background: -o-linear-gradient(#e6ac5c, #d75449);
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#e6ac5c),
      to(#d75449));
  background: linear-gradient(#e6ac5c, #d75449);
  right: 1.25em;
  top: 2.188em;
  -webkit-box-shadow: 0 0 0.438em #e6ad5c3d, 0 0 0.438em #d755494f;
  box-shadow: 0 0 0.438em #e6ad5c3d, 0 0 0.438em #d755494f;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.bb8-toggle__star {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  background: #fff;
  border-radius: var(--radius);
  -webkit-filter: drop-shadow(0 0 0.063em #fff);
  filter: drop-shadow(0 0 0.063em #fff);
  color: #fff;
  top: 100%;
}

.bb8-toggle__star:nth-child(1) {
  left: 3.75em;
  -webkit-box-shadow: 1.25em 0.938em, -1.25em 2.5em, 0 1.25em, 1.875em 0.625em,
    -3.125em 1.875em, 1.25em 2.813em;
  box-shadow: 1.25em 0.938em, -1.25em 2.5em, 0 1.25em, 1.875em 0.625em,
    -3.125em 1.875em, 1.25em 2.813em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.bb8-toggle__star:nth-child(2) {
  left: 4.688em;
  -webkit-box-shadow: 0.625em 0, 0 0.625em, -0.625em -0.625em, 0.625em 0.938em,
    -3.125em 1.25em, 1.25em -1.563em;
  box-shadow: 0.625em 0, 0 0.625em, -0.625em -0.625em, 0.625em 0.938em,
    -3.125em 1.25em, 1.25em -1.563em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bb8-toggle__star:nth-child(3) {
  left: 5.313em;
  -webkit-box-shadow: -0.625em -0.625em, -2.188em 1.25em, -2.188em 0,
    -3.75em -0.625em, -3.125em -0.625em, -2.5em -0.313em, 0.75em -0.625em;
  box-shadow: -0.625em -0.625em, -2.188em 1.25em, -2.188em 0, -3.75em -0.625em,
    -3.125em -0.625em, -2.5em -0.313em, 0.75em -0.625em;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8-toggle__star:nth-child(4) {
  left: 1.875em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bb8-toggle__star:nth-child(5) {
  left: 5em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.bb8-toggle__star:nth-child(6) {
  left: 2.5em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.bb8-toggle__star:nth-child(7) {
  left: 3.438em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

/* actions */

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(1) {
  top: 0.625em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(2) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(3) {
  top: 1.25em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(4) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(5) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(6) {
  top: 0.313em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(7) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__cloud {
  right: -100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .gomrassen {
  top: 0.938em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .hermes {
  top: 2.5em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .chenini {
  top: 2.75em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container {
  background-position-y: 0;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .tatto-1 {
  top: 100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .tatto-2 {
  top: 100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8 {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset));
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8__shadow {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset) + 0.938em);
  -webkit-transform: skew(70deg);
  -ms-transform: skew(70deg);
  transform: skew(70deg);
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8__body {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(225deg);
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__head::before {
  left: 100%;
}

.bb8-toggle__checkbox:not(:checked):hover+.bb8-toggle__container .bb8__antenna:nth-child(1) {
  right: 1.5em;
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__antenna:nth-child(2) {
  left: 0.938em;
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__head::after {
  background-position: 1.375em 0;
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__head::before {
  left: 0;
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__antenna:nth-child(2) {
  left: calc(100% - 0.938em);
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__head::after {
  background-position: -1.375em 0;
}

.bb8-toggle__checkbox:active+.bb8-toggle__container .bb8__head-container {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.bb8-toggle__checkbox:checked:active+.bb8-toggle__container .bb8__head-container {
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.bb8:hover .bb8__head::before,
.bb8:hover .bb8__antenna:nth-child(2) {
  left: 50% !important;
}

.bb8:hover .bb8__antenna:nth-child(1) {
  right: 0.938em !important;
}

.bb8:hover .bb8__head::after {
  background-position: 0 0 !important;

}
